<p id="notice"><%= notice %></p>

<h1>Igtvs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @igtvs.each do |igtv| %>
      <tr>
        <td><%= link_to 'Show', igtv %></td>
        <td><%= link_to 'Edit', edit_igtv_path(igtv) %></td>
        <td><%= link_to 'Destroy', igtv, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Igtv', new_igtv_path %>
