<%= form_with(model: saved, local: true) do |form| %>
  <% if saved.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(saved.errors.count, "error") %> prohibited this saved from being saved:</h2>

      <ul>
        <% saved.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :avatar, class: 'col-sm-3 col-form-label' %>
    <div class="col-sm-9">
      <%= form.file_field :avatar, class: 'form-control' %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
